[submodule "yocto/poky"]
	path = yocto/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "yocto/meta-ti"]
	path = yocto/meta-ti
	url = git://git.yoctoproject.org/meta-ti
	branch = kirkstone
[submodule "yocto/meta-shift"]
	path = yocto/meta-shift
	url = https://github.com/shift-left-test/meta-shift.git
	branch = kirkstone
